page-transicao {
    .resultado {
        height: 100%;
        flex-direction: column;
        .icon {
            font-size: 12em;
        }
        .button {
            margin-top: 68px;
        }
    }
}